<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="/js/searchHistory.js"></script>
    <title>Law API : ClauseSearchForm</title>
</head>
<body>
<!-- bulma container를 사용합니다-->
<div class="container">
    <!-- 기본 컨테이너에서 is-fluid의 경우 양쪽 여백 32px라고 합니다 -->
    <div class="container is-fluid">
        <!-- light는 배경 색 하얀 색이라고 합니다 -->
        <section class="hero is-link">
            <div class="hero-body">
                <p class="title">
                    <a href="/"> Law API -- Search Service </a>
                </p>
                <p class="subtitle">
                    법령 검색 서비스
                </p>
            </div>
        </section>

        <div class="tabs is-medium">
            <ul>
                <li><a href="legalqna">법률 Q&A</a></li>
                <li class="is-active"><a href="clause">법령 검색</a></li>
                <li><a href="precedent">판례 검색</a></li>
                <li><a href="history">검색 기록</a></li>
            </ul>
        </div>

        <div class="block">
            <form name="search-precedent" action="/search/clause" method="get" onsubmit="writeClauHistory()">
                <div class="field has-addons">
                    <p class="control">
                <span class="select">
                  <select id="clauType" name="clauType">
                      <option selected value=1
                              {{#isclauseTypeSelected}}selected{{/isclauseTypeSelected}} >법령 이름으로 검색</option>
                      <option value=2
                              {{#isclauseTypeSelected}}selected{{/isclauseTypeSelected}} >법령 내용으로 검색</option>
                  </select>
                </span>
                    </p>
                    <p class="control is-expanded">
                        <input id="clause-query" name="clause-query" maxlength="200" class="input" type="text" placeholder="키워드를 입력하여 법령을 검색해 보세요.">
                    </p>
                    <!-- hidden value로 기본값인 page 값을 넘겨 줌 -->
                    <!-- 최초 검색 화면이므로 1페이지가 나오게끔 value 를 1로 저장 -->
                    <input name="page" type="hidden" value="1">
                    <p class="control">
                        <button class="button is-link" type="submit">검색</button>
                    </p>
                </div>
            </form>
        </div>

        <div class="block">
            <div class="content">
                <p> 왼쪽의 검색 조건을 통해 [법령 이름 기준] 혹은 [법령 내용 기준] 검색을 할 수 있습니다. </p>
                <p> 본 검색은 <a href="https://open.law.go.kr/LSO/main.do" target="_blank"> 국가법령정보 공동활용</a> 의 법령 목록 조회 api를 사용하고 있습니다.</p>
                <div class="notification is-danger is-light">
                    검색어에 따라 검색 결과가 나오지 않을 수 있습니다. 이 경우 단어를 바꾸어 다시 검색해 보세요.
                </div>

                <section class="section is-small"></section>
            </div>
        </div>

    </div>
</div>
</body>
</html>